# Imbalanced Dataset Handling

1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [5]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'target' : [1] * n_class_1
})

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [15]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [16]:
df_minority.head()

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1

In [17]:
df_majority.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [19]:
## Upsampling Perform
from sklearn.utils import resample

In [20]:
df_minority_upsample = resample(df_minority, 
                                replace=True, ## Sample with replacement
                                n_samples=len(df_majority), ## To match the majority class
                                random_state=42
                               )

In [21]:
df_minority_upsample.shape

(900, 3)

In [24]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [25]:
df_upsmpled = pd.concat([df_majority, df_minority_upsample])

In [26]:
df_upsmpled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [28]:
df_upsmpled.shape

(1800, 3)

## Downsampling

In [29]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'target' : [1] * n_class_1
})

In [30]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [31]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [32]:
df_majority_downsample = resample(df_majority, 
                                replace=False, ## Sample without replacement
                                n_samples=len(df_minority), ## To match the minority class
                                random_state=42
                               )

In [33]:
df_majority_downsample.shape

(100, 3)

In [36]:
pd.concat([df_minority, df_majority_downsample])

     feature_1  feature_2  target
900   1.775921   0.902553       1
901   2.338840   1.058241       1
902   1.728472   3.670939       1
903   3.365531   2.067791       1
904   1.262626   3.630785       1
..         ...        ...     ...
398  -0.414723   0.354360       0
76   -0.342394  -0.158087       0
196   0.655082   0.249274       0
631  -0.612125   1.054153       0
751   1.939335  -0.149771       0

[200 rows x 3 columns]

In [40]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [41]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64